body {
    background-color: beige;
    font-family:serif;
}

p {
    color: rgb(60, 97, 68);
    margin-left: 210px;
    padding: 0px
}

h1 {
    color: darkgreen;
    margin-left: 10px;
}

h2 {
    background-color: rgb(99, 145, 99);
    color: white;
    margin-left: 200px;
    margin-right: 10px;
    padding: 5px;
    border:2px white;
    border-radius: 7px;
}

h3 {
    background-color: rgba(235, 235, 235, 0.897); 
    color: darkgreen;
    margin-left: 200px;
    margin-right: 400px;
    padding: 5px;
    border:2px;
    border-color: rgb(104, 104, 104);
    border-style: dotted;
    border-radius: 7px;
}

h4{
    color: darkgreen;
    margin-left: 200px;
    padding: 0px;
    
}
/* this is the code that would style ALL buttons */
button {
    background-color:rgb(231, 183, 161);
    color: black;
    border-radius: 7px;
    border-color: orange;
    margin-left: 40px;
}

/* this is create a custom style that will only be applied to a 'class' called specialButton1 */
.specialButton1 {
    background-color: black;
    color: white;
    border-color: black;
}

img {
    margin: 10px;
    float: right;
}


/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 10%;
    height: 800px; /* only for demonstration, should be removed */
    background: rgb(187, 206, 191);
    padding: 10px;
    }

    nav ul{
        list-style-type:none;
        padding: 0;
    }

label{
    margin-left: 100px;
}
footer {
    background-color: darkgreen;
    padding: 7px;
    color: white;
}

li{
    margin-left: 210px;
    padding: 5px;
}

.nav{
    margin-left: 10px;
}