<!DOCTYPE html>
<html lang="en">
    <body>
        <title>Alice</title>
        <h1> Hiking with Alice </h1>
        <h2>About</h2>
        <p>I started hiking while in university.</p>
        <p>I made this page to share my favorite trails!</p>
        <h3>My Favorite Trails</h3>
        <p>Big Sur Coastal Scenic Highway (Big Sur, CA)</p>
        <p>Muir Woods (SF, CA)</p>
        <p>Delaware Water Gap (NJ)</p>
        <p>Kaaterskill Falls (Catskills Mountains, NY)</p>
        <p>Mount Beacon (Mt. Beacon, NY)</p>

        <button> View Maps </button>
        <button> More Trails</button>
    </body>
</html>